<form action="/articles" method="post">

    <div>
      <label>Title:</label>
        <input type="text" name="title"/>
    </div>

    <div>
      <label>Content:</label>
      <textarea name="content"></textarea>
    </div>

    <div class="button">
      <button type="submit">Submit</button>
    </div>

</form>
